/* 

    background
    1. background-color
    2. background-image
    3. background-repeat
    4. background-position
    5. background-attachment
    6. background-size


*/


#box {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 50px;

    background-image: url(../../asset/images/cat05.jpg);
    /* 가로(width) 세로(height) 순 */
    /* background-size: 400px 400px; */
    /* background-size: 400px auto; */
    /* background-size: contain; */

    /* 남는 공간이 싫으면 width를 auto하면 확대되서 맞춤 */
    /* background-size: auto 400px; */
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;

}