

html {
    /* 큰사이즈 이미지 배경 맞추기 */

    /* 기본설정 */
    background-image: url(../../asset/images/gimbal.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;
    /* 화면에 크기에 맞춰짐 fixed */
    background-attachment: fixed;
}