

#main {
    width: 596px;
    margin: 20px auto;
}

/* 부모를 붙이는 이유: 가독성, 충돌났을경우 우선 */
#main #header {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    letter-spacing: -0.5px;
    border-bottom: 1px solid #AAA;
    padding-bottom: 15px;
}

#main #content .item {
    padding: 20px 0;
    border-bottom: 1px solid #DEDEDE;
}

#main #content .item::after {
    content: '';
    display: block;
    clear: both;
}

#main #content .item img {
    float: left;
    width: 106px;
    height: 72px;
    margin-right: 20px;
}

#main #content .item .txt {
    float: left;
    width: 400px;
}

#main #content .item .txt .title {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

#main #content .item .txt .desc {
    font-size: 13px;
    color: #666;
    margin-bottom: 8px;
}

#main #content .item .txt .pub {
    font-size: 13px;
    color: #888;
}