body {
    margin-bottom: 500px;
}

.box {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 30px;
}

#box1 {
    background-color: tomato;
}

#box2 {
    background-color: gold;
}

#box3 {
    background-color: cornflowerblue;
}


/* 

    Transform, 변형
    - 위치, 배율, 회전, 왜곡
    1. translate(): 위치 변형(이동)
    2. scale(): 배율 변형(확대/축소)
    3. rotate(): 회전 변형
    ---------------------------보통 위에만 씀
    4. skew(): 왜곡(비틀기)
    5. matrix(): 사용자 정의형(1~4번) > 행렬

*/

#box1 {
    /* position: relative 와 같음(조금다름) */
    /* transform: translate(100px, 100px); */

    /* 각도만큼 돌아감 */
    /* transform: rotate(45deg); */

    /* transform: skew(10deg, 0deg); */
}

#box1:hover {
    transform: translate(0px, 50px);
    transform: scale(1.2, 1.2);
    transform: rotate(45deg);
}

#box2 {
    /* 상자 크기증가 width와는 다름*/
    /* 중심을 기준으로 끝(왼쪽 끝,위쪽 끝)을 돌린다고 생각 */
    transform: scale(-1, 1);
}


input[type=text] {
    font-size: 2rem;
    padding: 5px;
    outline: none;
    /* transform: rotate(45deg); */
    transform: scale(-1, 1);
}

#cat > img:hover {
    /* transform: scale(1.2, 1.2); */
    /* 조합가능 */
    transform: translate(0, -50px) scale(1.5, 1.5);

}


