body{
    margin-bottom: 300px;
}

.box {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 30px;
}


#box1{ background-color: tomato; }
#box2{ background-color: gold; }
#box3{ background-color: dodgerblue; }

/* 

    CSS 객체 움직임
    1. transition > 단순한 움직임
    2. animation > transition + 세밀하게 통제

    
*/

#box1 {
    /* 여기에 transition 적용하면 hover적용후 돌아갈때도 적용됨 */
    /* transition: all 1s; */
}

/* 2번 */
@keyframes key1 {
    /* 어떤 속성 + 어떤 변화값 */
    from {
        width: 150px;
        height: 150px;
    }
    to {
        width: 500px;
        height: 500px;
    }
}

body:hover #box1 {
    /* width: 500px; */

    /* 1번 */
    /* 이거만 해서는 동작안함 2번으로 지정해줘야됨 */
    /* animation-name: key1; */
    animation-duration: 1s;
    /* 마지막에서 멈춤(마우스가 올라가있을때 동작완료후 정지) */
    animation-fill-mode: forwards;
}


@keyframes key2 {
    /* 
    
        움직임 시간 제어
        from: 0s
        to: 1s

        0%: 0s
        50%: 0.5s
        100%: 1s
    
    */
    /* from { width: 150px }
    to { width: 500px; } */

    /* 0% {
        width: 150px;
    }
    50% {
        width: 200px;
    }
    100% {
        width: 500px;
    } */


    0% { transform: translate(0px, 0px); }
    25% { transform: translate(300px, 0px); }
    50% { transform: translate(300px, 300px); }
    75% { transform: translate(0px, 300px); }
    100% { transform: translate(0px, 0px); }

}



body:hover #box2 {
    /* 프레임 정의(움직임) */
    animation-name: key2; 
    /* 소요시간 */
    animation-duration: 1s;
    /* 처음있는곳으로 돌아가면 의미없음 */
    /* animation-fill-mode: forwards; */

    /* 가속도 제어 */
    animation-timing-function: linear;
    /* 지연시간 */
    /* animation-delay: 1s; */
    /* 지정횟수만큼 반복(duration 1초면 총 3번돌아 3초걸림) */
    animation-iteration-count: infinite; /* infinite 무한반복 */

    /* 잠시멈춤 */
    /* animation-play-state: paused; */

    /* 재생방향 지정(시작 끝 반복)  */
    animation-direction: alternate-reverse;

}



#box2 {
    
}


.effect {
    padding: 10px;
}

/* 버튼 + horver > 떨림(진동) */
.effect:hover {
    animation-name: key-effect2;
    animation-duration: 0.1s;
    animation-iteration-count: 3;
}

@keyframes key-effect2 {
    0% { transform: scale(1, 1); }
    25% { transform: scale(1.2, 1.2); }
    50% { transform: scale(1, 1); }
    75% { transform: scale(0.8, 0.8); }
    100% { transform: scale(1, 1); }
}

@keyframes key-effect {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(-5px, 0px); }
    50% { transform: translate(0px, 0px); }
    75% { transform: translate(5px, 0px); }
    100% { transform: translate(0px, 0px); }
}


.effect3:hover > i {
    animation-name: key-effect;
    animation-duration: 0.05s;
    animation-iteration-count: infinite;

}




